.userCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    text-align: start;
}

.userCard{
    margin-bottom: 10px;
    width: 50%;
}

.list-group li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commenttext{
    margin: 0px;
    padding: 5px;
}

.commentDelBtn{
    margin-left: 5px;
}

.addCommentGroup{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.addCommentBtn{
    margin-left: 30px;
    width: 150px;
}
